<div class="main-content">
  <% @project.each do |project| %>

    <div class="box-content">
        <div id="box-title">
          <h4><%= project.title %></h4>
        </div>

        <div class="box-alltodo">
        <% project.todos.each do |todos| %>

        <div class="box-todo">
        <input type="checkbox" class='icheck-me' data-skin="square" data-color="blue" />
        <div id="todo-text"><p id="text"><%= todos.text %></p></div>

          <!-- <script type="text/javascript">
            $(this).on('ifChecked', function(event){
                $(this).closest('input').attr('checked', true);
                $(this).closest('p').css('text-decoration', 'line-through');
            });

            $(this).on('ifUnchecked', function(event){
                $(this).closest('input').attr('checked', false);
                $(this).closest('p').css('text-decoration', 'none');
            });
          </script> -->

        </div>
        <% end %>
        </div>

    </div>

  <% end %>
</div>
<button type="button" name="button_create" class="btn btn-warning" onclick="Show()">Новая задача</button><br><br>
<div class="create_todo">
<%= form_for :todoCreate, url: todos_path do |f| %>
  <p>
    <%= f.text_field :text %>
  </p>

    <%= f.select :project_id, Project.select("id,title").order("id ASC").collect{ |r| [r.title, r.id] } %><br><br>

    <!-- <a href="/todos" onclick="document.getElementById('todo_create').submit(); return false;">OK</a> -->
    <%= f.submit({:class => 'btn btn-success'}) %>
    <%# <% link_to 'ОК1', '/todos', class:"submit-btn", onclick=> "Show()" %>

<% end %>
<br><button type="button" name="button_hide" class="btn btn-danger" onclick="Hide()">Отмена</button>
</div>
<script type="text/javascript">
  $(document).ready(function() {

    $('.create_todo').hide();

    $("#dropdown").select2({
    theme: "bootstrap"
    });

  });

</script>
