<div class="main-content">
  <% @project.each do |project| %>

    <div class="box-content">
        <div id="box-title">
          <h4><%= project.title %></h4>
        </div>

        <div class="box-alltodo">
        <% project.todos.each do |todos| %>

        <div class="box-todo">

        <%= form_for :todoUpdate, url: update_path, :html => {:class => 'update-form'} do |f| %>
        <%= f.check_box :isCompleted, :class => 'icheck-me','data-skin' => 'square','data-color' => 'blue' %>
        <% end %>
        <div id="todo-text"><p id="text"><%= todos.text %></p></div>
        </div>
        <% end %>
        </div>

    </div>

  <% end %>
</div>
<div class="create_todo" style="visibility: hidden;">
  <div class="case_todo">
    <div class="case_title">
      <h4>Новая задача</h4>
    </div>

<%= form_for :todoCreate, url: todos_path, :html => {:class => 'form_todo'} do |f| %>

  <p class="text_todo">
    <%= f.text_field :text, :html => {:class => 'input_todo'} %><br>
  </p>
    <%= f.select :project_id, Project.select("id,title").order("id ASC").collect{ |r| [r.title, r.id] } %>
    <script type="text/javascript">
          $('#todoCreate_project_id').select2();
    </script>
    <div class="buttons_todo">
    <%= f.submit({:class => 'btn btn-warning',:value => 'Создать'}) %>
    <button type="button" name="button_hide" class="btn btn-danger" onclick="Hide()">Отмена</button>
    </div>

<% end %>

</div>
</div>

<script type="text/javascript">
  $(document).ready(function() {

    $('.create_todo').hide();
    $('#backBlack').hide();

    $("#dropdown").select2({
    theme: "bootstrap"
    });

  });

</script>
